<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>


<div id="root">Welcome to We Read Truth. 
You are viewing this message because your browser is not updated to it's most current version. 
Please update your browser. Thank you!</div>