<% if logged_in? %>
    <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>


<div id="root">Welcome to We Read Truth. 
For the best user experience please download <a href='https://www.google.com/chrome/'>Google Chrome.</a>
Thank you!</div>