
:root {
  --landscape-width: 15; // % OR vw for responsive window resizing!
  --portrait-width: 50vw;
  --header-height: 7rem;
  --secs: 400ms;
  --bg-left: white;
  --bg-right: white;
  --bg-main: white;
}

#layout {
  display: flex; 
  overflow: hidden; 
  margin-top: 107px;
  height: 100%;

  // Style in common for sidebars and main area:
  .left-header,
  .main-header, 
  .right-header {
    position: relative;
    height: var(--header-height);
    padding-top: 6px;

    .title { 
      position: absolute; 
      left: 0; 
      right: 0; 
    }
  }

  .left-header {
    text-align: center;

    .title {
      padding-top: 17px;
    }
  }

  .main-header {
    text-align: center;

    span {
      font-size: 40px;
    }
  }

  .right-header {
    text-align: center;

      .title {
      padding-top: 17px;
    }
  }
  
  .content-left,
  .content {
    overflow: auto;
    box-sizing: border-box;
  }
}

.content-left,
.content {
    display: flex;
    align-items: center;
    margin: auto;
    background-color: white; // homepage main background
}

.content {
    justify-content: center;
}

// Main area specific style:
#main { 
  z-index: 0;
  background: var(--bg-main); 
  flex-grow: 1;

  .header { 
    background: linear-gradient(to right, var(--bg-left), var(--bg-right));
    
    @media (orientation: landscape) {

      .title { 
        transition: left var(--secs), right var(--secs);

        &.left-closed { 
          left: var(--header-height); 
        }

        &.right-closed { 
          right: var(--header-height); 
        }
      }
    }
  }
}

// Style in common for both sidebars:
#left { 
  z-index: 2;
  transition: width var(--secs); width: 0;

  @media (orientation: landscape) {

    &.open { 
      width: calc(1% * var(--landscape-width)); 
    }
  } // <-- Landscape ONLY sidebars

  .icon { 
    position: fixed;
    z-index: 2;
    margin: 25px 0 0 20px;
    font-size: 40px;
    cursor: pointer;
  }

  .sidebar { 
    transition: transform var(--secs); // <-- Portrait AND landscape!

    @media (orientation: portrait) { 
      width: var(--portrait-width); 
    }

    @media (orientation: landscape) { 
      width: calc(1vw * var(--landscape-width)); 
    }

    .header { 
      width: calc(100% - var(--header-height)); 
    }
  }
}

#right { 
  transition: width var(--secs); width: 0;

  @media (orientation: landscape) {

    &.open { 
      width: calc(1% * var(--landscape-width)); 
    }
  } // <-- Landscape ONLY sidebars

  .icon { 
    position: fixed;
    z-index: 2;
    margin: 25px 30px 0 0;
    font-size: 40px;
    cursor: pointer;
  }

  .sidebar { 
    transition: transform var(--secs); // <-- Portrait AND landscape!

    @media (orientation: portrait) { 
      width: var(--portrait-width); 
    }

    @media (orientation: landscape) { 
      width: calc(1vw * var(--landscape-width)); 
    }

    .header { 
      width: calc(100% - var(--header-height)); 
    }
  }
}

// Left sidebar specific style:
#left { 

  .sidebar { 
    background: var(--bg-left);

    &.closed { 
      transform: translateX(-100%); 
    } // <-- Left portrait AND landscape!

    .header { 
      left: var(--header-height); 
    }
  }
}

// Right sidebar specific style:
#right { 

  .icon { 
    right: 0; 
  }

  .sidebar { 
    background: var(--bg-right);

    @media (orientation: portrait) {
      &.open { transform: translateX(-100%); 
      }
    } // <-- Right portrait sidebar ONLY!
  }
}