$darkgray: #3d3d3d;
$lightgray: #d3d3d3;
$gray: #767676;
$mint: #d9fff0;
$darkmint: #c0ffe6;
$skin: #f3ede8;
$blue: #4ca6ff;
$green: #00a699;
$orange: #ff5a5f;
$pink: #ffc0cb;
$darkpink: #ff8da1;

.middle-container {
    display: flex;
    flex-direction: column;

    .devo-main-title {
        padding: 0 20px 30px;

        .devo-main-day {
            margin-right: 8px;
        }
        
        span {
            font-size: 20px;
            font-weight: bold;
        }

        #max-mclean-audio {
            font-size: 25px;
            color: orange;
            float: right;
            padding-right: 10px;
        }

        #max-mclean-audio:hover {
            cursor: pointer;
        }

        #bookmark {
            font-size: 25px;
            color: orange;
            float: right;
            padding-right: 10px;
        }

        #bookmark:hover {
            cursor: pointer;
        }
    }
}

.devo-main-container {
    width: 680px;
    height: 70vh;
    padding: 0 20px 0;

    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */

    .devo-main-passages {
        display: flex;
        justify-content: left;
        padding: 10px 0 0;
        
        span {
            font-size: 17px;
            font-weight: bold;
            letter-spacing: 0.02em;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 2rem;
            letter-spacing: 0.015em;
            padding: 0 35px 0 25px;
            font-family: 'Roboto';
            text-align: justify;
        }
    }

    .devo-main-body {
        display: flex;
        justify-content: space-between;
        padding: 0 0 10px;
        width: 100%;

        p {
            font-size: 17px;
            line-height: 2rem;
            font-family: 'Roboto';
            text-align: justify;
        }
    }

    .devo-main-image {
        display: flex;
        justify-content: center;
        padding: 50px 0 100px;

        img {
            width: 80%;
            height: 80%;
        }
    }
}

.form-or-separator-mainbody-passages {
    padding-top: 4px;
}

.form-or-separator-mainbody-summary hr {
    margin-top: 30px;
}

.form-or-separator-mainbody-passages hr,
.form-or-separator-mainbody-summary hr,
.form-or-separator-mainbody-image hr {
    border: none;
    border-top: 1px solid $lightgray;
    overflow: visible;
    text-align: center;
    height: 10px;
}

.form-or-separator-mainbody-passages hr:after,
.form-or-separator-mainbody-summary hr:after,
.form-or-separator-mainbody-image hr:after {
    position: relative;
    top: -13px;
    background: $skin;
    color: $gray;
    padding: 0 15px;
    font-size: 20px;
}

.form-or-separator-mainbody-passages hr:after {
    content: 'Passages';
}

.form-or-separator-mainbody-summary hr:after {
    content: 'Summary';
}

.form-or-separator-mainbody{
    margin-top: 15px;
}