$darkgray: #3d3d3d;
$lightgray: #d3d3d3;
$gray: #767676;
$mint: #d9fff0;
$darkmint: #c0ffe6;
$skin: #f3ede8;
$blue: #4ca6ff;
$green: #00a699;
$orange: #ff5a5f;
$pink: #ffc0cb;
$darkpink: #ff8da1;

.modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width:100%;
  height:100%;
  z-index: 10;
  left:0px;
  top:0px;
}

.form-closing-x {
  position: absolute;
    top: 15px;
    right: 20px;
    height: 15px;
    width: 15px;
    line-height: 16px;
    padding: 10px;
    background-color: $orange;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}


//------------------Notes Page Modal

.notes-page-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 380px;
    width: 80%;
    height: 70%;
    min-height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    padding: 30px;
    font-size: 14px;
    color: black;
    z-index: 10;
    background-color: $skin;
    overflow-y: auto;
}

.form-or-separator-notes hr {
    border: none;
    border-top: 1px solid $lightgray;
    overflow: visible;
    text-align: center;
}

.form-or-separator-notes hr:after {
    position: relative;
    top: -15px;
    background: $skin;
    color: $gray;
    padding: 0 15px;
    font-size: 20px;
}

.notes-page-username span {
    position: relative;
    font-size: 20px;
    color: $gray;
    z-index: 1;
    top: -10px;
    padding: 10px;
}

//------------------Note Item Section 

.notes-page-section {
    height: 100%;
    background-color: transparent;
}

.notes-page-section-empty {
    position: relative;
    width: 100%;
    height: 400px;

    span {
      position: absolute;
      letter-spacing: 0.1em;
      font-size: 24px;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

.notes-page-ul {
    font-size: 13px;
    line-height: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

//------------------Each Note li
.note-flip, 
.note-li {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: all 1.0s ease;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 10px;
    width: 220px;
    height: 185px;

    span {
      font-weight: bold;
    }

    .note-title,
    .note-body,
    .note-bottom {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}

.note-flip {
  transform: rotateY(180deg);
}

.note-front:hover,
.note-back:hover {
  box-shadow: 0 0 20px 5px $mint;
  cursor: default;
}

.note-front,
.note-back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility:hidden;
    background-color: white;
    padding: 15px 20px;
    border: 1px solid $lightgray;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 $lightgray;
    width: 220px;
    height: 185px;
    top: -1px;
    left: -1px;
}

.note-back {
  transform: rotateY(180deg);
}

.note-delete-body {
    display: flex;
    justify-content: center;

    p {
      font-size: 20px;
      font-weight: bold;
      color: red;
    }
}

.note-button-container {
  display: flex;
  justify-content: space-between;
  width: 218px;

  .note-delete,
  .note-update,
  .note-cancel {
    width: 70px;
    height: 25px;
    color: white;
    font-size: 11px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    letter-spacing: 0.1rem;
  }

  .note-delete {
    background-color: $orange;
  }

  .note-update {
    background-color: $blue;
  }

  .note-cancel {
    background-color: $darkgray;
  }

  .note-delete:hover,
  .note-update:hover,
  .note-cancel:hover {
    box-shadow: 0 2px 6px 2px $lightgray;
  }

  .note-delete:active,
  .note-update:active,
  .note-cancel:active {
    opacity: 60%;
    box-shadow: 0 2px 6px 2px $lightgray;
  }
}

//------------------Categories Page Modal

.categories-page-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: 75%;
    min-width: 1000px;
    min-height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    padding: 20px;
    font-size: 14px;
    color: black;
    z-index: 1;
    background-color: $skin;
    overflow-y: auto;
}

.form-or-separator-categories hr {
    border: none;
    border-top: 1px solid $lightgray;
    overflow: visible;
    text-align: center;
    height: 10px;
}

.form-or-separator-categories hr:after {
    content: 'Book Titles';
    position: relative;
    top: -15px;
    background: $skin;
    color: $gray;
    padding: 0 15px;
    font-size: 20px;
}
.form-or-separator-categories{
    margin-top: 15px;
}

.categories-section {
  column-count: 5;
  width: 100%;
  height: 100%;
  padding: 0;
  top: 0;
  font-size: 0.85rem;
  column-fill: auto;
}

.categories-title-he,
.categories-title-she {
  padding: 0;
  top: 0;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 0;
}

.categories-title-he span {
  color: $blue;
}

.categories-title-she span {
  color: $darkpink;
}

//------------------Category Items Modal

.category-li {
  margin-top: 3px;
    width: 189px;
}

.category-title:active,
.category-title:hover {
  cursor: pointer;
  color: $mint;
  text-shadow: 0px 0px 10px $gray;
}

.category-title:active {
  opacity: 60%;
}

.category-title {
  color: $gray;
}

