$darkgray: #3d3d3d;
$lightgray: #d3d3d3;
$gray: #767676;
$mint: #d9fff0;
$darkmint: #c0ffe6;
$skin: #f3ede8;
$blue: #4ca6ff;
$green: #00a699;
$orange: #ff5a5f;
$pink: #ffc0cb;
$darkpink: #ff8da1;

.modal-background {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 10;
  left:0px;
  top:0px;
}

.form-closing-x {
  position: absolute;
    top: 15px;
    right: 20px;
    height: 15px;
    width: 15px;
    line-height: 16px;
    padding: 10px;
    background-color: $orange;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

//------------------Profiles Page Modal

.form__update {
  width: 100%;
}

.form-container-update {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 600px;
    min-height: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    padding: 30px 30px 0 30px;
    font-size: 14px;
    color: black;
    z-index: 10;
    background-color: $skin;

    .form-title-update {
        display: flex;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        margin: 0 auto 30px;
    }

    .update-form {
      display: flex;
      background-color: transparent;
      width: 100%;
      flex-direction: column;
      padding-bottom: 30px;
    }

    .update-form-input {
        position: relative;
        border-radius: 25px;
        color: $darkgray;
        font-size: 14px;
        font-weight: 300;
        height: 25px;
        width: 52%;
        border: 1px solid $lightgray;
        margin: 5px auto;
        padding: 10px 20px 10px 20px;
    }

    .update-form-input::placeholder {
        color: gray;
    }

    .update-form-input:focus {
        outline: none;
        box-shadow: 0 0 0 2px $blue;
    }

    .update-form-input:invalid {
        outline: none;
        box-shadow: 0 0 0 1px $orange;
    }
}

.update-form-button-container {
    width: 100%;
    display: inline-flex;

        .update-form-cancel-btn, 
        .update-form-delete-btn, 
        .update-form-button {
            width: 100px;
            height: 35px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            border-radius: 25px;
            letter-spacing: 0.1rem;
            color: white;
            margin: 10px 75px;
            cursor: pointer;
        }

        .update-form-delete-btn {
          background-color: $orange;
        }

        .update-form-button {
          background-color: $blue;
        }

        .update-form-cancel-btn {
          background-color: black;
        }

        .update-form-button:hover,
        .update-form-delete-btn:hover,
        .update-form-cancel-btn:hover {
          box-shadow: 0 2px 7px 2px $lightgray; 
        }

        .update-form-button:active,
        .update-form-delete-btn:active,
        .update-form-cancel-btn:active {
          opacity: 60%;
          box-shadow: 0 2px 7px 2px $lightgray;
        }
    }


.update-form-button-container {
  padding-left: 50px;
}

.update-form-delete-message {
    height: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(0, 5%);
    
  p {
      font-size: 20px;
      font-weight: bold;
      color: red;
    }

  span {
      font-size: 16px;
      color: red;
  }
}

.form-errors-update-email,
.form-errors-update-first,
.form-errors-update-last,
.form-errors-update-password {
  position: relative;
  color: $orange;
  display: flex;
  justify-content: center;
  margin: 5px 0 5px;
}

 #first-update {
     color: $gray;
     display: block;
     position: absolute;
    left: 440px;
    top: -40px;
     z-index: 1;
 }

 #last-update  {
     color: $gray;
     display: block;
     position: absolute;
    left: 440px;
    top: -40px;
     z-index: 1;
 }

 #password-update {
     color: $gray;
     display: block;
     position: absolute;
    left: 440px;
    top: -40px;
     z-index: 1;
 }

 .success-message-div-update span {
    position: absolute;
    color: $darkmint;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 40px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    animation: fadeIn ease 3s;
    visibility: visible;
}

 .success-message-div-demo span {
    position: absolute;
    color: red;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-size: 40px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    animation: fadeIn ease 3s;
    visibility: visible;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//------------------Notes Page Modal

.notes-page-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: 900px;
    width: 80%;
    height: 70%;
    min-height: 490px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    padding: 30px 30px 0 30px;
    font-size: 14px;
    color: black;
    z-index: 10;
    background-color: $skin;
}


.form-or-separator-notes hr {
    border: none;
    border-top: 1px solid $lightgray;
    overflow: visible;
    text-align: center;
}

.form-or-separator-notes hr:after {
    position: relative;
    top: -15px;
    background: $skin;
    color: $gray;
    padding: 0 15px;
    font-size: 20px;
}

.notes-page-username span {
    position: relative;
    font-size: 20px;
    color: $gray;
    z-index: 1;
    top: -10px;
    padding: 10px;
}

.notes-modal-top {
  width: 100%;

  //------------------Notes Modal Search

      .notes-search {
        display: flex;
        position: absolute;
        top: 13.5px;
        left: 215px;
        background-color: white;
        width: 360px;
        border: 1px solid #ebebeb;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding-left: 10px;
    }

    .notes-search-input {
      width: 340px;
      height: 35px;
      border: 0px;
      color: #767676;
    }

    .notes-search-input:focus {
        outline: none;
    }

}

.notes-page-content {
    margin-top: -7px;
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}
//------------------Custom Checkboxes

.checkbox-container {
    position: absolute;
    top: 23px;
    left: 600px;
    color: $gray;
    margin-left: 10px;
}
/* Customize the label (the container) */
.container {
    position: relative;
    padding: 2px 0px 0 25px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
  }

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: white;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: orange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6.5px;
    top: 2.5px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

//------------------Note Item Section 

.notes-page-section {
    height: 100%;
    background-color: transparent;

}

.notes-page-section-empty {
    position: relative;
    width: 100%;
    height: 400px;

    span {
      position: absolute;
      letter-spacing: 0.1em;
      font-size: 24px;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

.notes-page-ul {
    font-size: 13px;
    line-height: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

//------------------Each Note li
.note-flip, 
.note-li {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: all 1000ms ease;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 10px;
    width: 220px;
    height: 185px;
    font-size: 11.5px;

    span {
      font-weight: bold;
      font-size: 12px;
    }

    .note-title,
    .note-bottom {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .note-body {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
}

.note-flip {
  transform: rotateY(180deg);
}

.note-front:hover,
.note-back:hover {
  box-shadow: 0 0 20px 5px $mint;
  cursor: default;
}

.note-front,
.note-back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility:hidden;
    background-color: white;
    padding: 15px 20px;
    border: 1px solid $lightgray;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 $lightgray;
    width: 220px;
    height: 185px;
    top: -1px;
    left: -1px;
    -webkit-font-smoothing: antialiased;
}

.note-back {
  transform: rotateY(180deg);
}

.note-delete-body {
    display: flex;
    justify-content: center;

    p {
      font-size: 20px;
      font-weight: bold;
      color: red;
    }
}

.note-button-container {
  display: flex;
  justify-content: space-between;
  width: 218px;

  .note-delete,
  .note-update,
  .note-cancel {
    width: 70px;
    height: 25px;
    color: white;
    font-size: 11px;
    font-weight: bold;
    margin-top: 8px;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    padding: 2px;
    letter-spacing: 0.1rem;
  }

  .note-delete {
    background-color: $orange;
  }

  .note-update {
    background-color: $blue;
  }

  .note-cancel {
    background-color: $darkgray;
  }

  .note-delete:hover,
  .note-update:hover,
  .note-cancel:hover {
    box-shadow: 0 2px 7px 2px $lightgray;
  }

  .note-delete:active,
  .note-update:active,
  .note-cancel:active {
    opacity: 60%;
    box-shadow: 0 2px 7px 2px $lightgray;
  }
}

//------------------Categories Page Modal

.categories-page-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 80%;
    height: auto;
    min-width: 850px;
    min-height: 393px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    padding: 20px;
    font-size: 14px;
    color: black;
    z-index: 1;
    background-color: $skin;

    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.form-or-separator-categories hr {
    border: none;
    border-top: 1px solid $lightgray;
    overflow: visible;
    text-align: center;
    height: 10px;
}

.form-or-separator-categories hr:after {
    position: relative;
    top: -15px;
    background: $skin;
    color: $gray;
    padding: 0 15px;
    font-size: 20px;
}

.form-or-separator-categories{
    margin-top: 15px;
}

.categories-section-she,
.categories-section-he {
    width: 100%;
    height: auto;
    font-size: 1em;
    -webkit-columns: 5;
    -moz-columns: 5;
    columns: 6;
    -moz-column-fill: balance;
    column-fill: balance;
}

.categories-title-he,
.categories-title-she {
  padding: 0;
  top: 0;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 5px 0;
}

.categories-title-he span {
  color: $blue;
}

.categories-title-she span {
  color: $darkpink;
}

//------------------Category Items Modal

.category-li {
    margin: 3px 5px 0 0;
    width: auto;
}

.category-title:active,
.category-title:hover {
  cursor: pointer;
  color: $mint;
  text-shadow: 0px 0px 10px $gray;
}

.category-title:active {
  opacity: 60%;
}

.category-title {
  color: $gray;
}

