$darkgray: #3d3d3d;
$lightgray: #d3d3d3;
$gray: #767676;
$mint: #d9fff0;
$darkmint: #c0ffe6;
$skin: #f3ede8;
$blue: #4ca6ff;
$green: #00a699;
$orange: #ff5a5f;
$pink: #ffc0cb;
$darkpink: #ff8da1;

//------------------Notes Page Modal

.notes-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 12px 40px 0;
  z-index: 1;

  label {
    font-size: 0.8rem;
    margin-left: 12px;
    color: $gray;
  }
}

.notes-form {
    height: 70vh;
    width: 100%;

    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */
}

.notes-form-input,
.notes-form-input-title {
background-color: $skin;
display: flex;
border-radius: 6px;
color: $darkgray;
width: 95%;
border: none;
margin: 0 10px 10px;
padding: 0 10px;
font-size: 12px;
height: 30px;
  box-sizing: border-box;
}

.notes-form-input-title {
  font-weight: bold;
}

.notes-form-textarea {
    background-color: $skin;
    height: 45%;
    padding: 10px;
    display: flex;
    border-radius: 6px;
    color: $darkgray;
    width: 95%;
    border: none;
    margin: 0 10px 10px;
    font-size: 0.85rem;
    resize: none;
      box-sizing: border-box;
}

.notes-form-input::placeholder,
.notes-form-textarea::placeholder,
.notes-form-input-title::placeholder {
  color: $lightgray;
}

.notes-form-input:focus,
.notes-form-textarea:focus,
.notes-form-input-title:focus {
  outline: none;
  box-shadow: 0 2px 7px 2px $lightgray;
}

// .notes-form-input:invalid,
// .notes-form-textarea:invalid,
// .notes-form-input-title:invalid {
//   outline: none;
//   box-shadow: 0 2px 6px 0 #FF5A5F;
// }


.notes-form-edit-button,
.notes-form-submit-button,
.notes-form-delete-button {
  width: 100px;
  height: 35px;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
  text-align: center;
  border-radius: 25px;
  letter-spacing: 0.1rem;
}


.notes-form-edit-button:hover,
.notes-form-submit-button:hover,
.notes-form-delete-button:hover {
  display: block;
  box-shadow: 0 2px 7px 2px $lightgray;
}

.notes-form-edit-button:active,
.notes-form-submit-button:active,
.notes-form-delete-button:active {
  opacity: 60%;
  box-shadow: 0 2px 7px 2px $lightgray; //6px bug in chrome? dunno why.
}


.notes-form-delete-button {
  background-color: $gray;
}

.notes-form-update-button {
  background-color: $skin;
}

.notes-form-submit-button {
  background-color: $green;
  color: white;
}

.button-container {
  display: flex;
  justify-content: center;
}

.success-message-div {
    position: relative;
    width: 100%;
    height: 600px;
    z-index: 2;

    span {
      position: absolute;
      color: $green;
      font-weight: 500;
      letter-spacing: 0.1em;
      font-size: 24px;
      top: 35%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      animation: fadeIn ease 3s;
      visibility: visible;
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.form-errors-notes {
  color: $orange;
  display: flex;
  justify-content: center;
  font-size: 12px;
}