
$color_1: #3d3d3d;
$color_2: #d3d3d3;
$color_3: #d9fff0;

//------------------Notes Page Modal

.notes-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  background-color: #f3ede8; //skin
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.notes-form {
  display: block;
  background-color: transparent;
  width: 100%;
  padding: 20px;
  top: 0;
}

.notes-form-input {
  display: flex;
  border-radius: 6px;
  color: $color_1;
  width: 92%;
  border: none;
  padding: 0 10px;
  margin: 10px;
  font-size: 12px;
}

.notes-form-input {
  height: 25px;
}

.notes-form-textarea {
  height: 350px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  border-radius: 6px;
  color: $color_1;
  width: 98%;
  border: none;
  margin: 20px 10px;
  font-size: 13px;
  resize: none;
}

.notes-form-input::placeholder,
.notes-form-textarea::placeholder {
  color: $color_2;
}

.notes-form-input:focus,
.notes-form-textarea:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem $color_3;
}

.notes-form-input:invalid,
.notes-form-textarea:invalid {
  outline: none;
  box-shadow: 0 0 0 1px #FF5A5F;
}


.notes-form-edit-button,
.notes-form-submit-button,
.notes-form-delete-button {
  width: 100px;
  height: 35px;
  border-radius: 2px;
  background-color: #ff5a5f;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.1rem;
}


.notes-form-edit-button:hover,
.notes-form-submit-button:hover,
.notes-form-delete-button:hover {
  opacity: 70%;
}


.notes-form-delete-button {
  background-color: #484848;
}

.notes-form-update-button {
  background-color: #f3ede8;
}

.notes-form-submit-button {
  background-color: #ff5a5f;
}

.button-container {
  display: flex;
  justify-content: center;
}